<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>condicionais-v4</title>
</head>

<body>
    <div id="app">
        <template v-if="logado">
            <p >Usuario Logado: {{nome}}</p>
            <p>Type: ADM</p>
        </template>
        
        <p v-else-if="anonimo">Nav como anonimo</p>
        <p v-else>Nehum usuario logado</p>
        <button @click="logado = !logado">{{logado ? "Sair" : "Logar"}}</button>
        <input type="checkbox" v-model="anonimo" name="" id="">
        <hr/>
        <footer v-show="logado">
            Dev for you!!
        </footer>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                nome: "Jãao",
                logado: false,
                anonimo:false
                
            },    
            methods:{
                soma1(){
                    this.contador++
                }
            }    
        })
    </script>
</body>

</html>